<div class="card" style="width: auto;">
  <img class="card-img-top header" src="assets/header.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Matthew Perlick</h5>
    <hr width="100%">
    <h6><a href="http://www.drexel.edu" target="_blank">Drexel University</a></h6>
    <h6><a href="http://www.cs.drexel.edu/" target="_blank">The College of Computing and Informatics</a></h6>
    <h6>Computer Science</h6>

  </div>
</div>

<div class="card" style="width: auto;">
  <div class="card-header">Contact Information</div>

    <ul class="list-group list-group-flush">
    <li class="list-group-item">Primary Email: matt.perlick@gmail.com</li>
    <li class="list-group-item">Secondary Email: mfp46@drexel.edu</li>
    <li class="list-group-item"><a href="https://www.linkedin.com/in/mperlick" target="_blank">LinkedIn</a></li>
    <li class="list-group-item"><a href="https://www.facebook.com/matt.perlick" target="_blank">Facebook</a></li>
  </ul>

</div>
