<div class="card" style="width: auto;">
  <div class="card-header">About</div>
  <div class="card-body">
    <p class="card-text">
      Currently, I'm closing out the last two weeks of my first Co-op as a part of Drexel University's Co-op program. My plan of study (along with most drexel students) involves working three 6-month Co-op positions to gain work experience and learn about the jobs available to me after graduation. As my Co-op comes to a close, I am transitioning into a schedule revolving around 300 and 400 level classes.
    </p>
    <p class="card-text">
      Outside of my academic life, I am a Philadelphia area local. Having gone to High School in the city and rowing competitively on the Schuylkill river for six years, I've spent plenty of time in the heart of the city. After moving away from a full schedule of D1 rowing and classes, I am working on several extracurricular projects both with small teams and individually. I am also pursuing campus opportunities in Greek life, and excited to find more ways to fill my schedule this Fall.
    </p>
  </div>
</div>
