<div class="card" style="width: auto;">
  <div class="card-header">Professional Experience</div>
  <div class="card-body">
    <h6 class="card-title">IT Coordinator - The Pilots' Association For The Bay and River Delaware</h6>
		<ul>
			<li>
			Created a solution for the accounting department to eliminate time wasted in determining which vessel should be billed when multiple vessels have the same name. I am proud of this project in particular because it challenged me to work within the complicated billing system, learn how to use the Crontab utility, use preexisting knowledge, use external API references to gather data, and display the results in a meaningful way to a non-technical audience.
			</li>
			<li>
			Oversaw much of the communication with the software development company, Bowditch Navigation, during beta testing, release preparation, and post release periods as they developed a new version of their navigation software for us.
			</li>
			<li>
			Developed several internal web services to manage company contacts and streamline internal and external communication using PHP, MySQL, HTML, and JavaScript.
			</li>
			<li>
			Developed DOS shell scripts for a variety of tasks including changing system and software settings on pilot navigation computers, and updating pilot navigation computers with the latest navigation charts.
			</li>
		</ul>
  </div>
</div>
